<h1>DEATH RACE!!!!!</h1>

<form action='/playercreate' method="POST">
<input type="text" name="player1" placeholder="player1"><br>
<input type="text" name="player2" placeholder="player2">
<input type="submit" value="Light it up!">
</form>
